.container{
    height: 100vh;
    padding: 10rem;
    box-sizing: border-box;
}

.vector-graphics{
    filter: drop-shadow(0 10px 10px rgba(0,0,0,0.3));
    animation: vectorAnimation 4s infinite ease-in-out alternate;
}

@keyframes vectorAnimation{
    to{
        transform: translateY(-10px);
    }
}

.brandsBanner svg{
    color: white;
    font-size: 3rem;
    transition: 0.5s all;
}
.brandsBanner svg:hover{
    color: rgb(225, 224, 0);
}

.container-2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-2 video{
    border: 2px solid rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.118);
    width: 60%;
    border-radius: 6px;
    outline: none;
}

/* for video */
@media  screen and (max-width:600px) {
    .container-2{
        height: unset;
        padding: 4vh 0;
    }
    .container-2 video{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .vector-graphics{
        /* padding-bottom: 15rem;
        min-width: 90vh; */
        display: none;
    }
    .container{
        height: 80vh;
    }
}


.course{
    padding-top: 2rem;
    width: 250px;
    margin-bottom:1rem ;
    transition: all 0.8s;
}
.course:hover{
    transform: translateY(-10px);
}